<header class="w-full flex items-center gap-4 py-3 search-field">
    <div class="w-48 h-12">
        <img
            src="../../../assets/images/nexus-logo-2.png"
            alt="logo"
            class="w-full h-full object-cover" />
    </div>

    <ux-search-field
        #searchField
        placeholder="Search..."
        [(value)]="_searchValue"
        (valueChange)="_onfilterResult($event)"
        (click)="_openPopOver()">
    </ux-search-field>

    <ux-button
        [text]="'Login'"
        [type]="'secondary'"
        (click)="_openLoginModal()">
    </ux-button>
    <ux-button [text]="'Sign Up'"></ux-button>
</header>
