/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/styles/common/index.less';
@import '@netcracker/ux-ng2/assets/styles/components/button/button.component.less';
@import '@netcracker/ux-ng2/assets/styles/main.less';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
